<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laurie">
    <title>Mailloux Assignment 2.4</title>

    <!--Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
</head>

<body>

    <div role="main" class="container">
        <br /><br />

        <div class="alert alert-success">
            <h2>Mailloux Assignment 2.4</h2>
            <div class="row">
                <div class="col-sm-12">
                    <strong>First name: </strong> <span><%= firstName %></span>
                    <strong>Last name: </strong> <span><%= lastName %></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Address: </strong> <span><%= address %></span>
                </div>
            </div>
        </div>

    </div>

</body>