html
    head
        title Exercise 5.3 Pug Template Example
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
    body
        nav.navbar.navbar-dark.bg-dark.navbar-expand-sm
             ul.navbar-nav
                 li.nav-item
                     a.nav-link(href='#') Home
                 li.nav-item
                      a.nav-link(href='#') About
                 li.nav-item
                      a.nav-link(href='#') Contact Us

    br
    br
    div.container
         div.row
             div.col-md-12 
                 h2 Exercise 5.3 - Pug Template
                 p.alert.alert-success= message 
