<!--
============================================
; Title: List.ejs
; Author: Laurie Mailloux
; Date: March 19 2020
; Description: list
;===========================================
-->

<%- include('header') %>
<%- include('navbar') %>
<div class="container">
  <div class="row">
    <h2>Employee List</h2>
  </div>
  <div class="row">
   
  <%- include("footer") %>
</div>


