<!--
============================================
; Title: navbar.ejs
; Author: Laurie Mailloux
; Date: March 19 2020
; Description: Navbar
;===========================================
-->

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgb(77, 74, 77);">
  
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href= "/new">New Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/list">Employees</a>
    </li>
  </ul>

</nav>
