<!--
============================================
; Title: new.ejs
; Author: Laurie Mailloux
; Date: March 19 2020
; Description: New
;===========================================
-->

<%- include('header') %>
<%- include('navbar') %>
<div class="container">
  <div class="row">
    <h2>New Employees</h2>
  </div>
  <div class="row">
   
  <%- include("footer") %>
</div>

