<div role='main' class='container'>

    <br/><br/>

    <h2>Employees</h2>
    <br/>

    <div role = 'main' class = 'container' style = 'width: 50%'>
        <div class='form-group'>
            <label for='firstName'>First Name</label>
            <input type='text' class='form-control' id='firstName'
            readonly
            value='<%= employee[0].first %>'
            name='firstName'
            <label for='lastName'>Last Name</label>
            <input type='text' class='form-control' id='lastName'
            readonly
            value='<%= employee[0].last %>'
            name='lastName'
            />
        <a href="/">&larr; OK</a>
    </div>
</div>