<!-- /*
============================================
; Title:  footer.ejs
; Author: Laurie Mailloux
; Date:   March 7, 2020
; Description: footer page view
;===========================================
*/
 -->
</body>
</html>